[2020-04-02 07:45] zhenhuaw-me opened #1 "Testing becomes a problem"
The test currently involves steps and issues:
1. Downloads a `*.tflite` file from web
    * As we adding more operators, it would be a prolem to update the test model server.
    * Not sure if we can generate `*.tflite` on the fly, and test with it.
2. Converts it into a `*.onnx`
3. Run with TensorFlow Lite and ONNX runtime, and compare the results.
    * The main issue here is data layout, for wh

[2020-04-03 11:39] zhenhuaw-me opened #2 "Data layout semantic and converting procedure"
Currently, we perform layout transform for all operators (ADD, ABS, AveragePooling), but for ADD and ABS, we should not do that as they are data layout free.

[2020-04-18 14:46] zhenhuaw-me opened #3 "Operator Support Status"
This issue aims to collect the requirements, and enabling progress. The full list of supported operators is list in document of [Operator Support Status](https://github.com/jackwish/tflite2onnx/blob/master/docs/operator-support-status.md). Developpers are responsible to update it accordingly.

If you need an operator, please provide the minimized TensorFlow Lite model (`*.tflite`), which shall con

[2020-04-19 08:51] zhenhuaw-me opened #4 "Operator Support: Convolution"
Convolution is so complated, we need to enable them step by step.

- [ ] Trival support
- [ ] Strides
- [ ] Group (Depthwise dedicated in TFLite)
- [ ] Dilation
- [ ] Padding

[2020-04-19 08:53] #4 closed, assigned to nobody

[2020-04-20 14:24] zhenhuaw-me opened #5 "Objects management"
Overall, we `tflite2onnx` needs to manage objects including:
* TensorFlow Lite objects which the semantics come from. These objects should be rarely used after they have been parsed into `tflite2onnx`'s IR (Intermediate Representation).
*  `tflite2onnx`'s IR which mainly aims to handle [data layout issue]( #2 ). In the very first draft, we don't have any *real IR* as we are simply translating ever

[2020-05-10 09:44] #5 closed, assigned to zhenhuaw-me

[2020-05-10 09:46] #1 closed, assigned to zhenhuaw-me

[2020-05-10 09:52] zhenhuaw-me opened #6 "Map one TFLite OP to several ONNX OP"
TFLite fuses activation operator such as `ReLU` into `Conv`, while ONNX is not. For such scenarion, we need to reconsider our design.

[2020-05-13 13:09] zhenhuaw-me opened #7 "Require Padding inference"
We use `auto_pad` for most padding related operator, however, ONNX Runtime doesn't support dilation with `SAME*` auto padding currently.

[code]

[2020-05-24 09:28] zhenhuaw-me opened #8 "Project infrastructure"
Improve the infrastructure for better engineering and management.

- [ ] ~~Covarage report with GitHub Actions~~ defer to when we open source
- [x] Contribution guide
    - [x] Guide to add operator
    - [x] Issue template
- [x] Command line interface
- [x] [`shrub`](https://github.com/jackwish/shrub) needs to support preset data layout - ONNX can run with either NCHW or NHWC data.

[2020-06-12 01:19] #6 closed, assigned to zhenhuaw-me

[2020-06-15 13:11] #3 closed, assigned to zhenhuaw-me

[2020-06-18 14:34] #8 closed, assigned to zhenhuaw-me

[2020-06-21 13:09] #7 closed, assigned to zhenhuaw-me

[2020-06-21 13:15] zhenhuaw-me opened #9 "Get to know the recent status of TF2ONNX"
https://github.com/onnx/tensorflow-onnx

- [x] Overall status
- [x] What the output of it's *transpose based layout handling* in reality.
- [x] The quantization support of it.
- [x] TensorFlow 2.0 support

[2020-07-13 12:26] #9 closed, assigned to zhenhuaw-me

[2020-07-14 16:05] #2 closed, assigned to zhenhuaw-me

[2020-07-16 12:24] zhenhuaw-me opened #10 "Quantization Semantic Convert"
* TFLite
    * Many of TFLite operators have quantized (integer) version.
    * Trivial arithmetic is computed directly, while complex ones are simulated by [Gemmlowp](https://github.com/google/gemmlowp).
* ONNX ([wiki](https://github.com/onnx/onnx/wiki/Quantization-Support-In-ONNX)): 8bit scale/zero point linear quantization. Limited operator support.
    * Different from TFLite, ONNX defined onl

[2020-07-16 12:40] jackwish opened #11 "Support more models"
* [Models in TFLite guide](https://www.tensorflow.org/lite/guide/hosted_models)
* [TensorFlow Hub TFLite models](https://tfhub.dev/s?deployment-format=lite)
* [Slim pretrained models](https://github.com/tensorflow/models/tree/master/research/slim#pre-trained-models)

[2020-08-19 00:20] #10 closed, assigned to zhenhuaw-me

[2020-08-21 00:28] zhenhuaw-me opened #13 "Broadcasting"
Going further, with [propagation based layout handling](https://github.com/jackwish/tflite2onnx/issues/2#issuecomment-619475362), we have a broadcasting issue for _Binary_ operators.
* If a _Binary_ operator, say `add`, is not layout propagated, everything goes.
* Sometimes, propagation like `NHWC -> NCHW` breaks broadcastable.

For example, given TFLite as `Add` with input shapes `(2, 3, 4, 5)` a

[2020-08-27 13:23] #13 closed, assigned to zhenhuaw-me

[2020-09-01 01:35] zhenhuaw-me opened #16 "Rank of shape of Reshape operator"
<img width="751" alt="2rank-reshape" src="https://user-images.githubusercontent.com/4936589/91784379-5c0d0380-ec35-11ea-9d9b-07ba9e349cd9.png">

In the _Squeezenet_ [hosted by TensorFlow](https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/lite/g3doc/guide/hosted_models.md#floating-point-models), we found that the `Reshape` of the model has a 2 rank `shape` input, which is not supporte

[2020-09-01 14:40] #16 closed, assigned to zhenhuaw-me

[2020-10-22 08:17] siorpaes opened #19 "Most converted models fail ONNX optimization"
**Describe the bug**
ONNX models resulting from tflite conversion fail ONNX optimization process. ONNX checker does not report any problem, though.

**To Reproduce**
1. Download posenet_mobilenet_float_075_1_default_1.tflite model from here: [posenet_mobilenet_float](https://tfhub.dev/tensorflow/lite-model/posenet/mobilenet/float/075/1/default/1)
2. Convert it: `tflite2onnx  posenet_mobilenet_floa

[2020-10-22 08:58] IkbeomJeon commented on #19
Thank you, I'll confirm.

Now, I have been implementing conv_transpose, If the implementation is
complete, it will be committed to my forked repository with the test code.
(or Is there any code about that already in progress?)

2020년 10월 22일 (목) 오후 5:17, David <notifications@github.com>님이 작성:

[2020-10-28 16:01] Roberto7766 opened #20 "Operator request: quantized SSD MobileNet"
**Note**: Currently, we only accept [TensorFlow Lite builtin operators](https://jackwish.net/tflite/docs/BuiltinOperator.m.html) request.

**What is the TensorFlow Lite operator you need**
During the conversion I obtain :"NotImplementedError: Unsupported TFLite OP: 14"
The .tflite file is available here:
http://storage.googleapis.com/download.tensorflow.org/models/tflite/coco_ssd_mobilenet_v1_1.0_

[2020-10-30 13:54] y-fujii commented on #11
[Google MediaPipe](https://google.github.io/mediapipe/) has some useful TFLite files, whose original TensorFlow models are not released.  Currently there is no way to get ONNX.

<https://google.github.io/mediapipe/solutions/models>

It would be great if tflite2onnx could work on these files.

[2020-10-31 01:36] jackwish commented on #20
Hi @Roberto7766, thanks for reporting this! Do you have time to enable the operator, we have a guide of _[how to enable new operator](https://github.com/jackwish/tflite2onnx/blob/master/docs/how-to-enable-new-operator.md)_ (not updated in `v0.3`, I can update it soon).

[2020-10-31 01:40] jackwish commented on #11
@y-fujii Thanks for reporting this, I didn't even know that there are so many models are release in TFLite format only. Yes, it would be great if we can enable these models. It does take time to achieve that, hoping that we may have a joint force :)

[2020-10-31 01:45] jackwish commented on #19
@siorpaes Thank you for reporting this issue. And I am really sorry for missing this in my timeline. I will have a try today.

[2020-11-01 14:29] jackwish commented on #19
@siorpaes It seems that you forgot to attach the optimize script `optimize_model.py`.

And, I have tried to run the converted ONNX model with ONNXRuntime ([scripts attached](https://github.com/jackwish/tflite2onnx/files/5471049/test_models.py.tar.gz), changed from [our test script](https://github.com/jackwish/tflite2onnx/blob/master/tests/test_models.py#L82)), no issue found. I would like to take

[2020-11-01 14:31] jackwish commented on #19
Moved to `Ecosystem` as it looks like to be an ONNX Optimizer issue.

[2020-11-02 10:48] siorpaes commented on #19
Hello @jackwish whank you very much for coming back to me. I attached the missing script. Let me know if you need any further information.

[2020-11-03 02:36] jackwish commented on #19
Thank you @siorpaes for the update. I can reproduce the error with your script. As I have mentioned in https://github.com/jackwish/tflite2onnx/issues/19#issuecomment-720097208, would you like to [create an issue for ONNX Optimizer](https://github.com/onnx/onnx/issues/new/choose)? We can continue to discuss and see what we can do there.

[2020-11-03 15:23] siorpaes commented on #19
Thanks to you @jackwish. As you suggest, I will create an issue for ONNX optimizer. Would it be better to post the converted ONNX model directly or shall I illustrate the process on how to convert it from tflite with your tool ?

[2020-11-03 15:32] IkbeomJeon commented on #11
You can convert objectron examples in my fork. (I requested pull.)

objectron : https://google.github.io/mediapipe/solutions/objectron.html

See my pull request : https://github.com/jackwish/tflite2onnx/pull/21

[2020-11-04 00:49] jackwish commented on #19
@siorpaes Thank you! Let's work with ONNX Optimizer guys to see what the next action can be.

[2020-11-07 21:25] erizmr opened #22 "Enquiry about parsing optional input"
Hi jackwish,

Thanks for sharing your awesome frame!
I am trying to enable a new operator `Resize` from `resize_bilinear`, the ONNX description of `Resize` is shown below:
![image](https://user-images.githubusercontent.com/33411325/98451518-38d36880-213e-11eb-87ff-c401ffe09c38.png)
Only one of 'scales' and 'size' should be specified in this case, I am not sure how to 'skip' one of the arguments (a

[2020-11-07 23:46] erizmr commented on #16
Hi Jackwish,
It seems there is another format `reshape` operator shown below, one input and one attribute, violating `assert(op.InputsLength() == 2)` in the `reshape.py`.
![image](https://user-images.githubusercontent.com/33411325/98453515-e1d78e80-2151-11eb-9b46-76ab93e9d8ed.png)

I did a quick try (shown below, using the attribute `new_shape` as the second input) but seems not working. Would you

[2020-11-09 03:23] jackwish commented on #16
@erizmr Thank you for reporting this issue, would you mind to raise this issue as a `bug` and attach the TFLite model you are trying with? We may need to deep dive to find out what's wrong.

[2020-11-09 07:49] erizmr commented on #16
Sure. I will do that. Thanks!

[2020-11-09 08:44] erizmr opened #23 "Potential bug: Reshape(one input, one attr) operator is not supported"
**Describe the bug**
It seems there is another format reshape operator shown below, one input and one attribute, violating assert(op.InputsLength() == 2) in the reshape.py.

![image](https://user-images.githubusercontent.com/33411325/98518529-6831c480-2267-11eb-849c-3df109a8fdc3.png)

**To Reproduce**
model file: [palm_detection.tflite](https://github.com/google/mediapipe/blob/master/mediapipe/mod

[2020-11-09 12:24] jackwish commented on #22
Hi @erizmr thank you for reporting this issue. This is really a good example of the operator semantic divergence between TFLite and ONNX.

I checked the `Resize` example ([`resize_upsample_sizes_nearest_round_prefer_ceil_asymmetric` example of `Resize`](https://github.com/onnx/onnx/blob/master/docs/Operators.md#resize)) of ONNX, it seems we can simply leave the tensor field as empty when creating

[2020-11-09 21:09] erizmr commented on #22
Thansk for your reply. @jackwish
Here is a simple TFLITE model for `resize_bilinear` generated by `tf.compat.v1.image.resize_bilinear`:
[model_resize_bilinear.tflite](https://drive.google.com/file/d/16pp9gjkxzavG38gDClzGVmjFaDUSJ6R5/view?usp=sharing)
[code]

<img src="https://user-images.githubusercontent.com/33411325/98595413-ddd07b80-22cd-11eb-9ea2-b5ab1b0762a1.png" width="350"/>

There are two

[2020-11-10 01:28] jackwish commented on #23
@erizmr Thank you for moving this issue here.

For the `ResizeBilinear` converting issue you mentioned in #22 , does that blocks you for trying this `Reshape`?

[2020-11-10 01:34] jackwish commented on #22
@erizmr thank you for the update. May I know which version of the TensorFlow you are using to generate this TFLite model? It's interesting that the `new_height` and `new_width` attributes are not listed in [the TFLite model API doc](https://jackwish.net/tflite/docs/ResizeBilinearOptions.m.html) which is automatically generated from TensorFlow 2.3.0.

Background: any attributes in TFLite model shal

[2020-11-10 08:11] erizmr commented on #23
I implemented a simple version for `ResizeBilinear`(without handling all the two optional arguments but just filling the first one) and it 'works'(revision is needed) so that I can actually reach the `Reshape`.

[2020-11-10 08:42] erizmr commented on #22
The model is generated from TensorFlow 2.3.1. The doc for the method `tf.compat.v1.image.resize_bilinear` used is shown in the [link](https://www.tensorflow.org/api_docs/python/tf/compat/v1/image/resize_bilinear).

I also checked the definition for this operator [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/image_ops.cc):
<img src='https://user-images.githubuserco

[2020-11-10 13:27] jackwish commented on #22
That's the definition of TensorFlow operator which is not always same as its TFLite peer.

[2020-11-11 01:21] erizmr commented on #22
Hi @jackwish, I tried the empty tensors(from `np.array([])` ) idea you have mentioned before. It actually works. Here is an example:

<img src ='https://user-images.githubusercontent.com/33411325/98753207-b7890980-23bb-11eb-991e-eec0740b60c6.png' width=500>

Maybe I can send a pull request to share the code if you wish.

[2020-11-11 01:24] jackwish commented on #22
Cool! A PR would be great! Thanks for the update @erizmr

[2020-11-11 01:32] erizmr commented on #23
Hi @jackwish, I finally managed to make the `Reshape` work. Although the `Reshape` with an attribute is quite weird ( I tried `tf.reshape`, `tf.keras.layers.Reshape` but failed to reproduce a `Reshape` block with attribute), it can be naively handled with its option `NewShapeAsNumpy()`, create a vector from it and use it as the second input of `Reshape`.

<img src = https://user-images.githubuserc

[2020-11-11 10:32] jackwish commented on #19
Closing as it's actually an IR gap of ONNX tools. See
* [This issue reported to ONNX Optimizer](https://github.com/onnx/optimizer/issues/18)
* [The PR to fix IR gap](https://github.com/onnx/onnx/pull/3007)

[2020-11-11 10:32] #19 closed

[2020-11-11 14:06] jackwish opened #26 "Improve semantic of TransposeConv"
Serve as a list of trivial items that are not tracked by other issues.

- [x] [Merge all trivial activation into one operator converter class](https://github.com/jackwish/tflite2onnx/pull/25#discussion_r521355235)
- [x] [Adjust `createVector()` such that the data type of the created tensor is parsed from the NDArray rather than the `ref` tensor.](https://github.com/jackwish/tflite2onnx/pull/25#dis

[2020-11-13 14:22] #22 closed

[2020-11-13 14:22] #23 closed

[2020-11-13 23:08] ashikns opened #27 "Implementing compound operators: HardSwish"
HardSwish does not have a direct equivalent in ONNX. I intend to implement it as a hardsigmoid followed by mul. My question is with the current architecture how do you define an operator that doesn't map to a built-in ONNX operator? What will @property type(self) of the operator definition return?

[2020-11-14 01:33] erizmr opened #28 "Reshape - spatial semantic removed but post operators need it still"
**Describe the bug**
 `Reshape` is executed in C-like by default, i.e. with the last axis index changing fastest, back to the first axis index changing slowest. Therefore, in a condition that **there are implicit layout operators (such as `Conv`) before the `Reshape`**, different input layout will affect the reshaped result e.g. (1,4,4,8) -> (1, 128) is different to (1,8,4,4) -> (1, 128). Although

[2020-11-14 03:20] jackwish commented on #28
@erizmr This is same as https://github.com/jackwish/tflite2onnx/issues/23 right? That issue was closed automatically by your PR.

[2020-11-14 08:41] jackwish commented on #27
Hi @ashikns that is a good question, I have encountered similar issues before. In general, we don't have a generic solution (I mean a design level support) to enable one TFLite operator with multiple ONNX operators. Instead, we need to manually, which in practice includes (what we are doing now doesn't necessary to be what we will do in the future):

* Choose a _core_ ONNX operator among the ones

[2020-11-14 08:43] jackwish commented on #27
Btw, I removed the `help wanted` label. It seems to me that means the issue needs help from the community, e.g. we need more effort to write more operators. Please help to correct it if I get it wrong.

[2020-11-14 09:55] erizmr commented on #28
Hi @jackwish , sorry for didn't clarify this issue well, I think it is different from #23.
Here is a simple test case.
### Current case

Original TFlite Model           |  Converted ONNX Model
:-------------------------:|:-------------------------:
![](https://user-images.githubusercontent.com/33411325/99144163-7747b680-265b-11eb-9d45-027415e22adf.png )  |  ![](https://user-images.githubuserconten

[2020-11-14 12:03] ashikns commented on #27
Open sourcing of this library came at the right time I'd say. There are a lot of trained models being released into the wild. I have already had success using this library to convert a variation of the mobilenetv3 with some manual tweaks here and there. Found it pretty intuitive to work with too thanks!

PS: Help wanted label came on automatically. It might be because initially I chose the "reques

[2020-11-14 12:39] jackwish commented on #28
Hmmm, interesting... `Reshape` should just touch the shape but not the data.

For the first comment https://github.com/jackwish/tflite2onnx/issues/28#issue-742889412, `a.reshape((1, 12))` and `b.reshape((1, 12))` are different because `a` and `b` are different - `b` is transposed from `a`. So the different reshaped result is expected.

For your model test in the second comment https://github.com/j

[2020-11-14 12:41] jackwish commented on #27
Oh I see, I have even forgotten that :)

[2020-11-14 21:37] erizmr commented on #28
I double-checked the test by using the `test_networks.py`(put the model name inside the `NETWORK_LIST` of function `test_networks`),  and got the log below:
[code]
From my side, there is a tensor mismatch as the case we discussed above in the second comment #28 ([comment](https://github.com/jackwish/tflite2onnx/issues/28#issuecomment-727177554)).
It will be great if you can try to reproduce it usi

[2020-11-15 02:32] jackwish commented on #28
I know what’s going on here. Conceptually, the Conv output in your example
holds spatial information which is described by data layout implicitly.
Reshape removes that information.

Did you get this in a valid model? For the image classification case,
Reshape is used when spatial information has been transformed into
classification information where we can just manipulate the shapes.

We need to u

[2020-11-15 09:49] erizmr commented on #28
Maybe we can start from a production model from google mediapipe: [hand_landmark.tflite](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark.tflite)
(I tested it and got same AssertionError shown below, we can observed that both `regressor` and `classificator` gave incompatible results between `onnx` and original `tflite`)

[code]

The output part of this

[2020-11-15 14:27] jackwish commented on #28
Hmmm, interesting, the _landmark_ model just removes the spatial semantic wildly which the post operators rely on implicitly still. Maybe we really need to insert a `Transpose` to handle it. Really good catch! @erizmr

So, if the input (or output) tensor of `Reshape` holds a special data layout semantic, we need to insert `Transpose` before (or after) the `Reshape` operator. I am not sure how your

[2020-11-15 14:32] jackwish commented on #27
@ashikns you may be interested in this issue https://github.com/jackwish/tflite2onnx/issues/6 which covers only the fused activation function only.

[2020-11-16 00:10] erizmr commented on #28
Happy to discuss this with you! And sorry for the confusing name I gave for this issue and thanks for correcting it! It's much more readable now. @jackwish

The `Transpose` operator in the code base now is already a `Terminate` and I didn't touch it during the development currently.

The naive `fakeTranspose` I developed now was called in the `Reshape.parse()` just before the `self.setParsed()` an

[2020-11-16 00:26] jackwish commented on #28
Oops! Transpose is indeed an _Terminate_ now. Sorry for my mistake, maybe I was checking with a legacy code base as I was on another machine. In this case we are all set.

For the code part, maybe we can check the details with a draft PR to see the whole picture.

Thanks!

[2020-11-17 10:32] Laubeee commented on #23
I ran into the same thing trying to convert another mediapipe model: [pose detection](https://github.com/google/mediapipe/tree/master/mediapipe/modules/pose_detection/pose_detection.tflite)

I think there are no PReLU or BesizeBilinear layers there, so the pose detection model could be used to reproduce the Reshape issue separately.

@erizmr could you successfully convert the palm detection with y

[2020-11-17 13:29] erizmr commented on #23
Hi @Laubeee ,
Yes. I have converted the `palm detection` successfully by adding line 45-line 53 of [reshape.py](https://github.com/jackwish/tflite2onnx/blob/master/tflite2onnx/op/reshape.py). The lines are commented out because we haven't managed to generate a compact test model for this one input, one attr case.

Also, there is also another issue related to `Reshape` output layout #28. A temporar

[2020-11-17 14:08] Laubeee commented on #23
Thanks, this indeed made the conversion finish successfully. There is an error [on line 51](https://github.com/jackwish/tflite2onnx/blob/master/tflite2onnx/op/reshape.py#L51) tough:
`sp.asdtype('int64')` should be
`sp.astype('int64')`

Will now run the model and see if it gives any sensible output. It looks like there is a high chance this model is also affected by this other issue.

[2020-11-19 07:33] dsJoe opened #30 "Unsupported data type: FP16, INT8 and etc."
I am trying to convert tflite to ONNX and getting an assertion error

![image](https://user-images.githubusercontent.com/28567999/99635075-7d78d100-2a67-11eb-8a17-1c2aff72bdc7.png)

Could you please help?

[2020-11-19 08:40] erizmr commented on #30
Hi @dsJoe ,
Thanks for coming here. It will be great if you can give more details about the tflite model for reproducing the issue ( or even better to attach the model here if it is convenient for you).

[2020-11-20 01:01] jackwish commented on #30
Thanks @erizmr for getting to this.

@dsJoe We have these `assert` here to check the logic that is not intended for currently, such that we can catch them as early as we can and check what needs to change in our code base. Would you please to attach the TFLite model to we can deep dive into it?

[2020-11-20 11:24] dsJoe commented on #30
Thank you for the reply

I couldn't attach the model since the size is more than 10 MB. I will send you the model over an email.

Meantime, attaching a smaller model where I am getting a different error message.
[lite-model_3.zip](https://github.com/jackwish/tflite2onnx/files/5573167/lite-model_3.zip)

The commands I used from Jupyter notebook to convert.

import tflite2onnx

tflite_path = './tf2l

[2020-11-20 13:51] IkbeomJeon commented on #30
I also faced same problem.
Now, my target tflite model includes 'float16' tensors. But it seems to be not supported now.

[2020-11-20 13:54] IkbeomJeon commented on #30
i attached model [https://www.dropbox.com/s/yzvgv6grdmvo9nv/object_detection_3d_sneakers.tflite?dl=0](url)

[2020-11-20 13:57] jackwish commented on #27
Hi @ashikns, I accidentally noticed that you have implemented some new operators in your fork. Would you mind to upstream your great work to let them help more people?

[2020-11-20 14:33] jackwish commented on #30
@dsJoe, I tried your model it's because the current quantization support `uint8` as data type only. I think we can extend it to `int8` in the next version. To workaround, maybe you try to generate a TFLite model with `uint8` data type. Btw, just curious, are you using dynamic quantization of TensorFlow Lite to generate the model?

@IkbeomJeon I got an assertion when processing the first operator `

[2020-11-20 15:09] ashikns commented on #27
Hey! Yes indeed I added a couple for converting a mobilenetv3 network from Google. The reason I haven't sent a PR though is due to two reasons:
1) Most of the changes I've made are specific to the model I was converting. I don't remember the specific operators, but for example one operator might have an attribute based on which it's behavior changes but my implementation only handles one specific

[2020-11-21 01:41] #28 closed

[2020-11-21 10:18] erizmr commented on #23
Hi @Laubeee ,
The `Reshape` has been updated. And I tested the `pose_detection` model you have mentioned,  the absolute error of the output between the original and transformed model is about `10^{-4}` from my tests, which looks good to me.

[2020-11-21 12:53] jackwish commented on #27
Thanks for your reply! Didn't mean to push any but to share joint efforts. Getting things to work should always come first, feel free to come back anytime. And enjoy your vacation! :)

[2020-11-22 14:56] jackwish commented on #26
TODO of TransposeConv (due to we do not fully understand the semantic gap) https://github.com/jackwish/tflite2onnx/pull/21#issuecomment-731760141
1. Special output shape for VALID padding
2. Different input/output shape for SAME padding

[2020-11-23 06:07] dsJoe commented on #30
@jackwish Thank you for your suggestion. Could you help me to generate a TFLite model with uint8 data type. I have never done it.

I am using dynamic quantization to generate the TFLite model.

[2020-11-23 09:09] deiruch opened #31 "Conversion of model fails with assertion in Quantize operator"
**Describe the bug**
When I try to convert [segm_full_v491.zip](https://github.com/jackwish/tflite2onnx/files/5581862/segm_full_v491.zip) on the command line, I get the following traceback:
[code]

**To Reproduce**
1. Extract the model linked above
1. Execute `tflite2onnx segm_full_v491.tflite segm_full_v491.onnx`

**Additional context**
The model is the background segmentation from Google Meet

[2020-11-23 12:10] jackwish commented on #31
Hi @deiruch it seems your model includes data type `float16`. We already have an issue discussing related topic: https://github.com/jackwish/tflite2onnx/issues/30. We have a plan of enabling such cases in next version. I am going to close this issue as duplicate with #30.

For next action of your model, I suggest to remove the float16 nodes from the TFLite model - as all the inputs are float16, ma

[2020-11-23 12:14] jackwish commented on #30
@deiruch encountered a similar issue when converting [segm_full_v491.zip](https://github.com/jackwish/tflite2onnx/files/5581862/segm_full_v491.zip) which is the background segmentation from Google Meet in #31

@deiruch we can move the discussions to here.

[2020-11-23 12:14] jackwish commented on #31
Closing as track this issue in #30

[2020-11-23 12:14] #31 closed

[2020-11-23 12:24] jackwish commented on #30
@dsJoe (and to many ones who have similar issues) I think that depends on why you want to convert a quantized TFLite model (as ONNX's quantization support is trivial, it's pretty interesting for me) to ONNX. In general, I don't suggest converting a quantized TFLite model to ONNX except that TFLite model is generated with TensorFlow Quantization-aware Training which maintains sound prediction accur

[2020-11-23 12:38] jackwish opened #32 "Use case survey"
It's significant to understand the use cases of our users. It will help us to decide how to shape `tflite2onnx` - what features we take as first priority. Please help to provide some information if possible. A possible template is as below, please feel free to propose new fields or ignore some.  :)

**How you generate/get the TFLite model?**

_Example: use TensorFlow quantization-aware training, o

[2020-11-23 12:41] jackwish commented on #30
@IkbeomJeon @dsJoe @erizmr @deiruch I have created issue #32 to get to understand your use case, would you mind provide some input if convenient? Thanks!

[2020-11-23 12:58] deiruch commented on #31
Sorry, didn't realize this had the same underlying cause. Will follow the other issue!

Thanks for your work! Much appreciated!

[2020-11-23 13:01] deiruch commented on #32
### How you generate/get the TFLite model?
Download a pretrained, created by Google. I don't have the sources or training data for the model.

### Which ONNX backend you are going to use?
Microsoft.ML.OnnxRuntime.DirectML

### What is the problem you try to solve?
Background segmentation (what Google Meet, Microsoft Teams, Zoom, ... do)

[2020-11-23 13:03] IkbeomJeon commented on #32
How you generate/get the TFLite model?
Mainly, download a pretrained, created by mediapipe.

Which ONNX backend you are going to use?
Microsoft.ML.OnnxRuntime (or Microsoft.ML.OnnxRuntime.DirectML)

What is the problem you try to solve?
3D Object tracking on hololens2

[2020-11-24 12:01] jackwish commented on #32
@deiruch @IkbeomJeon thanks for your feedbacks :)

[2020-11-24 12:02] jackwish commented on #31
No worry!

[2020-11-26 08:30] tkys commented on #32
**How you generate/get the TFLite model?**
Models for the edge to create on Google AutoML

**Which ONNX backend you are going to use?**
Desktop machines with GPU or jetson nano with Tensor-RT

**What is the problem you try to solve?**
Object detection (  on streaming )

[2020-11-27 09:26] jackwish commented on #23
According to https://github.com/tensorflow/tensorflow/issues/45150#issuecomment-734519579, the one input `Reshape` should be generated by TOCO. We may try the old converter.

[2020-11-29 14:32] jackwish commented on #30
Hey guys, an update here: FP16 is not natively supported by TFLite - operators like `Add` and `Conv` don't support FP16. And it seems TensorFlow is converting FP16 to FP32 if we created a model with the FP16 data type. For example, we got a model description like below which is an `Add` operator that accepts two FP16 inputs. Two `Cast` layers are added to make the model run (not sure if it's a TF

[2020-12-14 03:58] Guriido commented on #20
@Roberto7766
OP 14 is the Logistic operator, which is already supported in the master branch but not yet in the latest PyPI release.
I suggest installing from source, as described here: https://github.com/jackwish/tflite2onnx#installation

[2020-12-14 08:44] jackwish commented on #20
Planning `v0.3.1` release by the end of this year, which should include Logistic

[2020-12-14 08:46] jackwish commented on #27
Hi @ashikns , I am planning `v0.3.1` release by the end of this year. Please help to open PRs if you are interested in getting your op in this release :)

[2020-12-14 17:21] briangrifiin opened #33 "Assertion error in isQuantize subroutine"
**Describe the bug**
Quantize::isQuantize method is called from the very beginning of Quantize::parse method via self.shorty.
Quantize::parse does not set self.status.parsed before jumping to Quantize::isQuantize.
Thus, assertion inside Quantize::isQuantize fails.

**To Reproduce**
Try to convert the following model: https://tfhub.dev/google/lite-model/magenta/arbitrary-image-stylization-v1-256/fp

[2020-12-15 01:14] jackwish commented on #33
Hi @briangrifiin thank you for reporting this issue! This was not caught because we have not tested `tflite2onnx` with TFLite models containing Quantize or Dequantize with debug log enabled (the debug log should be why no such issue not reported as I have seen many people using similar models pattern).

The fix looks good for me. If it works for your model, would you like to create a PR? That woul

[2020-12-15 10:30] #33 closed

[2020-12-15 14:06] jackwish opened #35 "Fold "FP16 weights -> Dequantize -> FP32 -> Conv/MatMul..." to "FP32 weights -> Conv/MatMul...""
ONNX quantization doesn't take FP16 as a quantized data type, therefore nearly all [FP16 quantized](https://www.tensorflow.org/lite/performance/post_training_quantization#float16_quantization) TFLite models are unsupported (see this [FAQ](https://github.com/jackwish/tflite2onnx/blob/master/docs/faq.md#fp16-quantization-model-doesnt-work)).

We recommend user switch to [full integer quantization](h

[2020-12-15 14:13] jackwish commented on #26
changed the title to track the TransposeConv issue, will not track others anymore.

[2020-12-16 00:41] jackwish commented on #20
@Roberto7766 I am going to close this issue as Logistic has been enabled. Please reopen if the model fails still. Thanks for reporting this issue.

[2020-12-16 00:41] #20 closed

[2020-12-26 18:28] kapulkin opened #38 "Quantize class requires being parsed in the first line of parse method"
**Bug description**

The bug is in first line with debug message if Quantize.parse method. Quantize.parse falls with assertion error.

[code]

Operator.shorty
[code]

**To Reproduce**

1. call tflite2onnx.convert on quantized model
2. debug log

[code]

[2020-12-26 19:01] kapulkin commented on #30
I found, that tf.lite in Tensorflow 2.0 does not support uint8 in operations unfortunately.

It's written there: https://github.com/tensorflow/tensorflow/issues/38285#issuecomment-673334366 and there in **Note**: https://www.tensorflow.org/lite/performance/quantization_spec#specification_summary

![2020-12-26_22-01-31](https://user-images.githubusercontent.com/800129/103157627-f46f5b00-47c5-11eb-9

[2020-12-26 19:07] kapulkin commented on #32
I train U-Net model with Tensorflow 2.0. My goal is to launch quantized model on any laptop. Thats, why I want to quantize model and later convert in into onnx.

Right now I use post-training int8 quantization with calibration. Quantization aware training is in plans.

[2020-12-28 10:37] jackwish commented on #38
@kapulkin This issue has been fixed in the latest `master` branch: https://github.com/jackwish/tflite2onnx/blob/master/tflite2onnx/op/quantize.py#L28

Please try with the latest `master` branch.

[2020-12-28 12:44] jackwish commented on #30
@kapulkin Thanks for watching this thread. As far as I understand, TensorFlow 2.0 is ***prefer*** `int8` over `uint8` in ***new tool***  rather than _unsupport_ `uint8`. But yes, we should prioritize `int8` support.

[2020-12-28 14:22] jackwish opened #39 "Interface to retrive the list of supported operators"
We maintain the list manually in this list: https://github.com/jackwish/tflite2onnx/blob/master/docs/operator-support-status.md
Every time we add a new operator, we need to update the list. It should be possible to get the list automatically via an interface such as `getSupportedOprators()` which return a list of the strings.

This can be done by iterate the `TypeMapping` of the operator converter

[2020-12-29 14:35] #39 closed

[2020-12-29 14:41] jackwish opened #41 "Fused activation function support"
Several operators (e.g. `Add`, `Conv`) have fused activation function. The complete list of such fused activation function list can be found at https://jackwish.net/tflite/docs/ActivationFunctionType.m.html

This issue tracks the status (moved from [Operator Support Status](https://github.com/jackwish/tflite2onnx/blob/v0.3.1/docs/operator-support-status.md) which has been deprecated).

- [x] ReLU

[2020-12-29 19:26] deiruch opened #43 "Command line tool: Help message should include version number"
**Describe the bug**
When calling `tflite2onnx -h` it'd be useful to see the version number.

**Expected behavior**
[code]

**Actual behavior**
[code]

**To Reproduce**
1. Invoke `tflite2onnx -h`

**Version**
v0.3.1

[2020-12-30 05:23] liuxu-github-ui opened #44 "Cannot reshape array of size 896 into shape with multiple of 6272 elements with ONNX model"
Hi,

I had a tflite model (trained with Tensorflow 1.14) and tried to convert it to onnx model.

It showed the error message "NotImplementedError: Unsupported TFLite OP: 14". May I know what is the cause of this error?

[2020-12-30 14:26] jackwish commented on #44
Hi @liuxu-github-ui , this error happens because some TFLite operators are not supported by `tflite2onnx`. The `14` here is the op code of the TFLite op which can be parsed with https://raw.githubusercontent.com/jackwish/tflite/master/tflite/BuiltinOperator.py.

For your case, `14` is `LOGISTIC` which should have been enabled in `v0.3.1`. May I know which version are you using?

Btw, the latest AP

[2020-12-30 14:27] jackwish commented on #38
Hi @kapulkin this issue should have been resolved by the recent `v0.3.1` release. Please let me know if there were an issue still.

[2020-12-30 14:30] jackwish commented on #43
Hi @deiruch thanks for raising this issue. Tip more information in the command line looks to be a great idea. Maybe some arg like `-v` or `--version` also. Are you interested in bringing such insight to the code base if you don't mind?

[2020-12-30 14:36] jackwish opened #45 "INT8 quantization support"
So far, we have UINT8 quantization enabled. Per https://github.com/jackwish/tflite2onnx/issues/30#issuecomment-751386189 (thanks for @kapulkin), we found that TensorFlow 2.0 prioritizes the INT8 approach over UINT8 (though many tools and kernels are UINT8 based currently).

![](https://user-images.githubusercontent.com/800129/103157627-f46f5b00-47c5-11eb-9a49-1baa9a27ee47.png)

We plan to enable I

[2020-12-30 14:39] jackwish commented on #30
As with `v0.3.1`, `tflite2onnx` no longer complains about such data type, we may close this issue.

Follow up of these data types:
* [FP16 quantization is not recommended](https://github.com/jackwish/tflite2onnx/issues/30#issuecomment-735403858), but we can fold the FP16 weights into FP32 operator see #35
* INT8 quantization  has been prioritized, see #45

[2020-12-30 14:40] jackwish commented on #30
Now closing. Please feel free to reopen if there is such issues still. Thank you all for the solid discussion!

[2020-12-30 14:40] #30 closed

[2020-12-30 15:11] deiruch commented on #43
I totally would if I knew Python. I don't even have a Python IDE installed... :(

[2021-01-02 03:36] liuxu-github-ui commented on #44
Hi,

Thanks for your reply. I managed to convert tflite file to onnx file with the latest version (0.3.1). But when I import the onnx model into Unity,it showed another error "Unexpected error while evaluating model output Identity. System.ArgumentException: Cannot reshape array of size 896 into shape with multiple of 6272 elements". Do you what caused this error? Thanks.

[2021-01-03 06:35] jackwish commented on #44
Well, in general, for an error like this, we need to deep dive into the TFLite and the ONNX model to figure out what's going on... As the first step, you can try to identify which of the `Reshape` triggers the error.

[2021-01-03 07:25] jackwish commented on #43
Aha neither do I :)

[2021-01-03 07:26] #43 closed

[2021-01-12 11:29] paulgavrikov opened #47 "AssertionError for DepthMultiplier"
I am trying to convert [this tflite model](https://github.com/google/mediapipe/raw/master/mediapipe/models/knift_float_1k.tflite)  to ONNX but end up in an AssertionError. I am using python3.8.

[code]

[2021-01-12 11:37] paulgavrikov commented on #32
**How you generate/get the TFLite model?**

Pretrained models from Google / MediaPipe

**Which ONNX backend you are going to use?**

torch.onnx

**What is the problem you try to solve?**

I am looking at various tasks and am looking for a converter that works with all sorts of tflite models.

[2021-01-12 11:40] paulgavrikov commented on #35
It would be awesome if you could implement this! Unfortunately, the mediapipe models often rely on fp16 weights.

[2021-01-13 02:58] ram95014 commented on #35
I would second @paulgavrikov and request the fold from fp16 to fp32. Thanks

[2021-01-13 12:30] jackwish commented on #47
Hi @paulgavrikov thanks for reporting this issue. Could you help to report it with [the bug template](https://github.com/jackwish/tflite2onnx/blob/master/.github/ISSUE_TEMPLATE/bug-report.md) which can help us to have a basic idea of what's going on?

[2021-01-13 12:50] jackwish commented on #35
@paulgavrikov @ram95014 Thanks for your feedback! I am very glad about that. This should be possible and should not take too much time but I was not working on it. It would be great if you can help!

In general, it could be divided into three steps:
1. Parse and build the graph just like ONNX can support FP16 as a quantization type. In this stage, we will have many patterns like `FP16 weights -> D

[2021-01-14 07:07] paulgavrikov commented on #47
after an update to the latest release I cannot reproduce this anymore. Running into a new error. Will create a new issue.

[2021-01-14 07:50] paulgavrikov opened #49 "Installation via build-wheel.sh fails"
**Describe the bug**
It is not possible to install tflite2onnx via the steps described in the readme.

    Download the source code: git clone https://github.com/jackwish/tflite2onnx.git
    Build the package: ${tflite2onnx}/scripts/build-wheel.sh

**To Reproduce**

[code]

**Version**
Which version are you using? `master`.

**Additional context**
Ubuntu 20.04, python3.8.6

[2021-01-14 07:54] paulgavrikov opened #50 "Installation via pip git clone fails"
**Describe the bug**
It is not possible to install tflite2onnx via `pip install git+<REPO>` due to `AttributeError: module 'tflite.TensorType' has no attribute 'BOOL'
`

**To Reproduce**

[code]

**Version**
Which version are you using? `master`.

**Additional context**
Ubuntu 20.04, python3.8.6

[2021-01-14 12:53] jackwish commented on #47
Closing

[2021-01-14 13:19] jackwish commented on #50
Hi @paulgavrikov thanks for reporting this issue. We don't support direct install via pip due to the limitation of setuptools - package info distributed in setup.py and setup.cfg. Please follow the guide of the README. Thanks!

I am going to close this issue as it is a tool issue. Please reopen if any consideration.

[2021-01-14 13:19] #50 closed

[2021-01-14 13:21] jackwish commented on #49
Hi @paulgavrikov it seems the `pip` is not available in your env, could you help to confirm?

[code]

[2021-01-14 19:55] groncarolo commented on #49
Hello,

On
[code]

trying to run build-wheel.sh
[code]
regards

g.

[2021-01-14 20:23] groncarolo commented on #49
For file
[code]
changing
[code]
would solve the issue but is just one of many

same thing would be in
[code]

What are we missing? :)

[2021-01-15 01:20] jackwish commented on #49
@groncarolo that's interesting, our build is protected by CI. And I have just rerun it and got passing: https://github.com/jackwish/tflite2onnx/runs/1705823307

We can just use `tflite.TensorType.BOOL` directly if we are installing `tflite` package with https://github.com/jackwish/tflite or pip. Could try that in a clean virtual env?

[2021-01-15 07:14] paulgavrikov commented on #49
@jackwish, @groncarolo Same issue I was pointing out in #50. Running into the same issue when installing under Ubuntu 20.04 with py3.8.

@jackwish I was more worried about the line endings issue. Typically a problem when you commit under windows, though there is a git config that takes care of that.

Regarding pip: `python` is `python3` under Ubuntu. Is there maybe a universal way to access the bi

[2021-01-15 07:40] groncarolo commented on #49
@jackwish thanks a lot! : gonna try

starting from empty env
[code]
trying again
[code]

installing
[code]

sounds good :)

[code]

[2021-01-15 07:52] groncarolo commented on #49
I created yet another venv and simply
[code]
It works

Thanks for the help

regards

g,

[2021-01-15 13:35] jackwish commented on #49
@groncarolo Very glad that a clean env works for you. I have been using a python3 venv, so maybe it doesn't work in some scenarios...

@paulgavrikov Thanks for the clarification, but the new line issue should not be specific to this `tflite2onnx` project, meaning that it should not be a real issue.

For the `python3 -m`, I think that's a very good catch, we should make our scripts more general, wo

[2021-01-16 10:23] zhaohb opened #51 "tflite convert to onnx error:Unsupported TFLite OP: 127"
**Describe the bug**
when I convert a tf model to tflite and use tensorflow op with
[code]

and I managed to get the tflite file, but when convert tflite to onnx ,I get the error:
[code]

since I think we do not need the concrete implementation of OP in the process of converting to ONNX file,
so, Is there a way that I can get the ONNX file normally?

thank you very much

[2021-01-16 10:37] zhaohb commented on #51
[https://github.com/jackwish/tflite/blob/master/tflite/BuiltinOperator.py](url)  has no 127, why?
How do I know the op type for 127？

[2021-01-16 12:05] #35 closed

[2021-01-16 12:06] jackwish commented on #35
@paulgavrikov @ram95014 This functionality has been enabled, please try out with the latest code.
If anything looks wrong, please open issues and link to this one. Thanks!

[2021-01-17 06:27] jackwish commented on #51
Hi, @zhaohb custom op is not supported currently. Please check if your model contains such. If yes, to workaround it, you may need to replace complicate TensorFlow operators with [TFLite builtin operators](https://jackwish.net/tflite/docs/BuiltinOperator.m.html), and then try again.

[2021-01-17 06:27] jackwish commented on #51
This error message is somehow confusing, I am going to enhance it in https://github.com/jackwish/tflite2onnx/pull/54.

[2021-01-17 09:32] paulgavrikov commented on #49
@jackwish I set up a clean venv (this would also work without `python`) and tried the latest master with the fp16 fixes but run into a new error (`git config core.autocrlf` set to `input` or `false`, can't run otherwise):

[code]

[2021-01-17 10:39] paulgavrikov commented on #49
@jackwish even with my PR I am still running into the same issue as @groncarolo even with clean venv from code and bash
[code]

[2021-01-17 13:06] jackwish commented on #49
Hmmm... that’s interesting. It would be helpful if you can list the
commands that are used starting from creating the venv. Are you using
windows? If it’s possible to try on Ubuntu to check if it’s a platform
issue?

[2021-01-17 13:45] paulgavrikov commented on #49
I am under Ubuntu! Here's my full log:

[code]

[2021-01-17 14:16] jackwish commented on #49
Ok... So you can now build but the package seems not working. Could you upload the package so others can try it out?

[2021-01-17 14:24] jackwish commented on #49
@paulgavrikov I notice that you are using `venv`. Sorry for confusing, but the _venv_ in my context is `virtualenv`. Could you try `virtualenv` (as it declares to be more powerful than `venv`...)?

[2021-01-17 16:07] zhaohb commented on #51
@jackwish  thank you very much, but I still have a question. Does TFLite2OnNX support only one graph? I see that the code logic can support multiple graphs at the same time.
[code]
Will there be any other problems with this modification？

[2021-01-18 00:46] ram95014 commented on #32
**How you generate/get the TFLite model?**

Pretrained models from Google / MediaPipe

**Which ONNX backend you are going to use?**

I convert ONNX to Intel's IR representation (OpenVINO)

**What is the problem you try to solve?**

I want to run the tflite models on openVINO capable edge devices

[2021-01-18 00:57] ram95014 opened #56 "Mediapipe FP16 model converted to ONNX - results do not match."
I converted the publicly available tflite model from mediapipe [here](https://github.com/google/mediapipe/tree/master/mediapipe/modules/pose_landmark/pose_landmark_upper_body.tflite) using the latest checkout with the FP16 Quantizatoin Pattern Folding (version 0.3.1).
I then used the following code to compare the outputs of the two equivalent models using the [tflite interpreter](https://www.tenso

[2021-01-18 01:08] #56 closed

[2021-01-18 07:20] paulgavrikov commented on #49
@jackwish I had no idea venv and virtualenv were two different things! Anyway, I run into the same issue with virtualenv. Steps are similar to venv. Only difference is that I do not have to install wheel.

Dist generated with virtualenv: https://github.com/paulgavrikov/tflite2onnx/blob/pr-newline-description/assets/dist/tflite2onnx-0.3.1-py3-none-any.whl

[2021-01-18 11:17] jackwish commented on #56
@ram95014 is this still an issue for you?

I have not tested on any models but only a conv example: https://github.com/jackwish/tflite2onnx/blob/master/assets/tests/conv-quant-fp16.float32.tflite

[2021-01-18 11:22] jackwish commented on #51
We don't support multiple graphs currently for two reasons:
* We have not seen TFLite models that contain more than one graph.
* ONNX doesn't support multiple graphs in its representation.

If there are TFLite models that container 2+ graph, we can easily extend `tflite2onnx` to support it - convert one graph each time invoked with an interface to specify which graph to be converted.

[2021-01-18 12:07] zhaohb commented on #51
@jackwish But now I have one tflite model that contain two graphs. one graph name is main, another is Noop,  I don't know if it has anything to do with add：
[code]
Another question：
I now want to test the generated TFlite Model using TF.Lite.Interpreter, but I am encountering the following problems:
[code]
This TFlite model is generated by tadding the following code：
[code]
What should I do？

[2021-01-18 15:08] jackwish commented on #51
Can you help to clarify what **Noop** means here? By _contain two graphs_, did you debug into `tflite2onnx` to get that info?

For the TFLite running error, I don't know how your model looks like, but it would be proper to ask in TFLite repo or forum or just searching... (TFLite has been widely tried out, there must be someone have similar issue)

[2021-01-19 11:11] jackwish opened #57 "Multiple graph suppoort"
Initially, we don't support multiple graphs currently for two reasons:
* We have not seen TFLite models that contain more than one graph
* ONNX doesn't support multiple graphs in its representation

However, there are indeed models that may contain multiple graphs. #51 is an example (though not a good one).

In this case, we can extend our functionality in two steps:
1. Convert one graph each time

[2021-01-19 11:12] jackwish commented on #51
Closing this as it's an issue in the TFLite model. The error message will be improved in #54.

[2021-01-19 11:12] #51 closed

[2021-01-20 00:16] subashp opened #58 "Basic conversion failing"
I wanted to convert a simple tflite into onnx model. I am hit with the issue [1] below. Below is the procedure to reproduce with a public model:
a) Download mobilenet from [2]
b) Setup a virtualenv (python3.6) with tensorflow(1.15.2 & 2.3 show same issue)
c) pip install tflite2onnx
d) tflite2onnx mobilenet_v1_1.0_224_quant.tflite .

[1] onnx.onnx_cpp2py_export.checker.ValidationError: Unrecognized

[2021-01-20 12:48] jackwish commented on #58
Hi @subashp thanks for reporting this issue, could you please report with [the bug report template](https://github.com/jackwish/tflite2onnx/issues/new?assignees=&labels=bug&template=bug-report.md&title=) and attach verbose log?

[2021-01-20 13:02] jackwish commented on #49
@paulgavrikov Ok... I know what's going on here... We should have specified the package location in `setup.py` more decently, let me try to fix.

To workaround it, you can `cd tflite2onnx` before building the package.

[2021-01-20 15:30] jackwish commented on #49
Building package in dir where `setup.py` or `setup.cfg` should the conversion of python. Maybe we don't need to make it possible to invoke the script in other directories. I have fixed the installation doc and that you for the patient of discussing this.

#59 is going to drop `setup.py` and switching to `setup.cfg` completely. We also schedule the dependency installation in our CI to further prote

[2021-01-20 15:32] #49 closed

[2021-01-21 09:12] paulgavrikov commented on #47
I'd like to reopen this, now that I am able to install from source again.

**Model:** https://github.com/google/mediapipe/blob/master/mediapipe/models/knift_float_1k.tflite
I should mention at this point that according to the doc this model is only suitable for Android and apparently not for python. I am not sure what this exactly means in terms of the model arch, so if this is indeed a problem wi

[2021-01-21 13:47] jackwish commented on #47
Hmmm, we assumed the input channel and output channel are the same for depthwise conv. This seems not to be a depthwise conv semantically, but we can get to understand the arithmetic here. I think I have encountered a similar issue in TVM.

[2021-01-27 02:41] jackwish opened #60 "Call for Contribution"
Greetings!

I'd like to thank you for your attention and contribution to `tflite2onnx`. That means a lot to the project and to me.

I have been putting efforts into the `tflite2onnx` for about one year, including the codebase, the doc, the CI, answering questions, fixing reported bugs, and etc. As of early 2021, we have [released](https://github.com/jackwish/tflite2onnx/releases) four versions and

[2021-02-14 02:03] #38 closed

[2021-02-18 02:02] #44 closed

[2021-02-25 00:37] subashp commented on #58
I moved on by not using this tool. So I don't have steps to provide to recreate. I will be closing this issue.

[2021-02-25 00:37] #58 closed

[2021-03-02 09:32] jie311 opened #61 "how to choose opset version？"
Some platform need opset version==10 to run the onnx model， but that of the converted onnx model is 11. How to change the opset version?

[2021-03-02 10:44] jackwish commented on #61
@jie311 Thanks for raising this issue. I think I have written the explanation some place but cannot remember, so just update [the FAQ](https://github.com/jackwish/tflite2onnx/blob/master/docs/faq.md#custom-the-onnx-opset-version). And, quote as below.

[2021-03-02 10:45] jackwish commented on #61
I am going to close this issue as we won't fix it. Please feel free to reopen if you have any further questions. Thanks!

[2021-03-02 10:45] #61 closed

[2021-03-22 06:40] shilpan97 opened #62 "Operator request: Leaky Relu (Unsupported TFLite OP: 98 LEAKY_RELU!)"
**Note**: Currently, we only accept [TensorFlow Lite builtin operators](https://jackwish.net/tflite/docs/BuiltinOperator.m.html) request.

**What is the TensorFlow Lite operator you need**
(Please attach a tiny TFLite model `*.tflite`, which contains the operator you need ONLY.)
LeakyRelu

**What kind of service you are trying to deploy your model?**
.tflite to .onnx

**Would you like to contribut

[2021-03-22 06:42] shilpan97 commented on #62
using command for yolo tflite model: tflite2onnx.convert(tflite_path, onnx_path)

Error message:
             if opcode in tflite.BUILTIN_OPCODE2NAME:
                 name = tflite.opcode2name(opcode)
                 raise NotImplementedError("Unsupported TFLite OP: {} {}!".format(opcode, name))
             else:
               raise ValueError("Opcode {} is not a TFLite builtin operator!".form

[2021-03-22 08:20] shilpan97 commented on #62
alpha typically 0.2

[2021-03-22 10:37] jackwish commented on #62
@shilpan97 thanks for reporting this issue. Are you interested in contributing this operator? We have [documents](https://github.com/jackwish/tflite2onnx#documentation) to help with the implementation, check https://github.com/jackwish/tflite2onnx/blob/master/docs/how-to-enable-new-operator.md

[2021-03-24 00:46] markostam opened #64 "Operator request: TFLite OP: 102 SPLIT_V"
**Note**: Currently, we only accept [TensorFlow Lite builtin operators](https://jackwish.net/tflite/docs/BuiltinOperator.m.html) request.

**What is the TensorFlow Lite operator you need**
(Please attach a tiny TFLite model `*.tflite`, which contains the operator you need ONLY.)

TFLite OP: 102 SPLIT_V

**What kind of service you are trying to deploy your model?**

Audio

**Would you like to contr

[2021-03-24 00:46] jackwish opened #65 "Documents related to move this repo to the ONNX org"
* [Repositories under ONNX GitHub organization](https://github.com/onnx/onnx/blob/master/community/repo_guidelines.md)

[2021-03-24 11:04] jackwish commented on #64
@markostam thanks for reporting this issue. Are you interested in contributing this operator? We have documents to help with the implementation, check https://github.com/jackwish/tflite2onnx/blob/master/docs/how-to-enable-new-operator.md

[2021-03-24 11:10] jackwish commented on #11
Going to drop the model level CI test now. There are potential license issues and it requires effort to maintain.

[2021-03-24 11:10] #11 closed

[2021-03-25 00:59] jackwish commented on #65
Just get to know that Microsoft has re-invented the _TensorFlow Lite to ONNX converter_, see https://github.com/onnx/tensorflow-onnx/pull/1322

[2021-03-25 00:59] #65 closed

[2021-03-26 05:03] jackwish commented on #60
Microsoft has re-invented the TensorFlow Lite to ONNX model converter in `tf2onnx`. They have more chances to enable more functionality.

[2021-03-26 05:03] #60 closed

[2021-03-26 05:03] jackwish commented on #57
Microsoft has re-invented the TensorFlow Lite to ONNX model converter in `tf2onnx`. They have more chances to enable more functionality.

[2021-03-26 05:03] #57 closed

[2021-03-26 05:03] jackwish commented on #32
Microsoft has re-invented the TensorFlow Lite to ONNX model converter in `tf2onnx`. They have more chances to enable more functionality.

[2021-03-26 05:03] #32 closed

[2021-03-26 05:04] jackwish commented on #45
Microsoft has re-invented the TensorFlow Lite to ONNX model converter in `tf2onnx`. They have more chances to enable more functionality.

[2021-03-26 05:04] #45 closed

[2021-03-31 10:20] Travis-Lee opened #66 "Unsupported TFLite OP: 124 DENSIFY! (hand_landmark_sparse.tflite)"
The model form the site : <<https://github.com/google/mediapipe/tree/master/mediapipe/modules/hand_landmark/hand_landmark_saprse.tflite.>>,But when i   Convet tflite model to onnx, I have the problem is  Unsupported TFLite OP: 124 DENSIFY!  Tks for everyone's help.

[2021-04-01 12:57] jackwish commented on #66
Hi @Travis-Lee thanks for reporting this issue. We are on the track of enabling more operators. Are you interested in implementing this operator? It's simple for most cases and we have rich documents to help: https://github.com/jackwish/tflite2onnx#documentation

[2021-04-13 17:57] Jonnyboyyyy opened #67 ""This path has not been tried" Error"
I have been trying to convert BlitzNet from tflite to onnx.
BlitzNet is provided in Tf, so i converted to tflite and now to onnx.
On the process I get following error:

Comman line:  tflite2onnx ./blitz_seg.tflite ./onnx/model_seg_tflite.onnx
Empty tensor used, please double confirm your code path!
Traceback (most recent call last):
  File "/home/juhyun/Tf/bin/tflite2onnx", line 8, in <module>

[2021-04-13 17:59] #67 closed

[2021-04-13 17:59] Jonnyboyyyy opened #68 ""NotImplementedError: This path has not been tried" Error"
I have been trying to convert BlitzNet from tflite to onnx.
BlitzNet is provided in Tf, so i converted to tflite and now to onnx.
On the process I get following error:

Comman line:  tflite2onnx ./blitz_seg.tflite ./onnx/model_seg_tflite.onnx
Empty tensor used, please double confirm your code path!
Traceback (most recent call last):
  File "/home/juhyun/Tf/bin/tflite2onnx", line 8, in <module>

[2021-04-27 14:53] #68 closed

[2021-05-08 02:26] #64 closed

[2021-05-08 02:26] #62 closed

[2021-05-20 02:35] #66 closed

[2021-05-24 19:11] mlizhardy commented on #56
@ram95014 you closed this issue, did you solve it?

[2021-07-19 03:16] roachsinai opened #69 "ERROR Source ~/tflite2onnx does not appear to be a Python project: no pyproject.toml or setup.py"
**Describe the bug**

Get ERROR when run statement in build script: `ERROR Source ~/tflite2onnx does not appear to be a Python project: no pyproject.toml or setup.py`, this error raised by `python -m build --outdir ${root_dir}/assets/dist`.

**To Reproduce**

1. git clone https://github.com/jackwish/tflite2onnx.git && cd tflite2onnx
2. ./scripts/build-wheel.sh

**Version**

Which version are you u

[2021-07-22 14:30] jackwish commented on #69
@roachsinai thanks for reporting this issue, I can reproduce it. It seems the behavior of `build` package has changed...

[2021-08-17 15:58] mikkelmedm commented on #35
Hi, should this be fixed? I am still having issues

[2021-08-18 02:02] jackwish commented on #35
@mikkelmedm It has been fixed and protected by [this test](https://github.com/jackwish/tflite2onnx/blob/master/tests/test_ops.py#L33). What's the error you have?

[2021-08-18 06:30] mikkelmedm commented on #35
Running it on a MediaPipe model I am getting an error like "FP16 is not tested, and might not work properly"

[2021-08-30 09:26] jackwish commented on #69
@roachsinai Sorry for the delayed fix, have been very busy recently. Please check the latest version.

[2021-08-30 09:26] #69 closed

[2021-08-30 13:54] jackwish commented on #26
all done

[2021-08-30 13:54] #26 closed

[2021-09-23 01:47] PINTO0309 commented on #66
This is a home-made tool, but it is now compatible with **`Densify`**. It can also be converted to ONNX.
https://github.com/PINTO0309/tflite2tensorflow

[2021-10-28 01:10] liamsun2019 opened #70 "NotImplementedError: Unsupported TFLite OP: 56 ARG_MAX!"
Hi author,

I encountered an issue reporting argmax not supported:

NotImplementedError: Unsupported TFLite OP: 56 ARG_MAX!

Any suggestions? Thanks.

[2021-11-04 04:11] JKANG94 commented on #47
I also met this problem using the latest pypi release to convert tflite model.  How to solve this problem?

[2021-11-05 10:02] jackwish commented on #47
@JKANG94 as mentioned in comment https://github.com/jackwish/tflite2onnx/issues/47#issuecomment-764653389, we need to fix the assumption "the input channel and output channel are the same for depthwise conv". https://github.com/jackwish/tflite2onnx/blob/master/tflite2onnx/op/conv.py#L81

But I don't have the time to investigate this issue. Do you have time a take a look at it?

[2021-11-24 05:27] zhang0557kui opened #71 "model error"
use tflite2onnx to transform the tflite model to onnx model
and I test the onnx model, but error is acoureed:
onnxruntime.capi.onnxruntime_pybind11_state.InvalidGraph: [ONNXRuntimeError] : 10 : INVALID_GRAPH : Load model from ../models/tflite/palm_detection.onnx failed:This is an invalid model. Type Error: Type 'tensor(int32)' of input parameter (up_sampling2d/Size) of operator (Resize) in node (u

[2021-11-24 08:48] zhang0557kui opened #72 "error"
File "D:\anaconda3\lib\site-packages\tflite2onnx\layout.py", line 27, in transform
    output = transform(input, self.source, self.target)
  File "D:\anaconda3\lib\site-packages\tflite2onnx\layout.py", line 16, in transform
    transfrom_axis = [input[p] for p in perm]
  File "D:\anaconda3\lib\site-packages\tflite2onnx\layout.py", line 16, in <listcomp>
    transfrom_axis = [input[p] for p in perm

[2021-12-20 02:21] #47 closed

[2021-12-20 07:05] jackwish commented on #72
Hi @zhang0557kui thank you for reporting this issue. Could you help to attach the model that triggers the error?
It seems to me that the model raised our semantic assumption somehow.

[2021-12-20 07:07] jackwish commented on #71
Hi @zhang0557kui Thank you for reporting this issue. It seems to trigger some unsupported case of `tflite2onnx`. Could you help to narrow it down to the specific tflite operator and attach it? That would help the process of this issue.

[2021-12-30 05:35] zhang0557kui commented on #72
https://github.com/google/mediapipe/blob/master/mediapipe/modules/palm_detection/palm_detection_full.tflite

[2022-01-18 02:57] Amadeus-AI commented on #72
Same issue when trying to convert palm_detection_full.

[2022-01-19 08:35] Amadeus-AI commented on #72
It maybe a PReLu related issue
https://github.com/NVIDIA/TensorRT/issues/310

[2022-01-26 07:57] hhgxx123 opened #73 "layout"
**Describe the bug**
A clear and concise description of what the bug is.
Please check the [FAQ](https://github.com/jackwish/tflite2onnx/blob/master/docs/faq.md)
and search around before creating a real issue.

**To Reproduce**
1. Please help to narrow down the TFLite model as far as you can.
2. Your Python code to convert the model.
3. Attach the TFLite model.
4. Attach debug log, please rerun wit

[2022-01-26 07:58] #73 closed

[2022-04-06 18:05] frytoli opened #74 ""AssertionError: Per-tensor support only currently" with Conversion of Integer-Only Quantized Model"

[2022-04-07 00:18] #74 closed

[2022-04-11 07:45] ed-mr commented on #26
Is there any follow-up on this issue? Since I am not happy about the current decision, that onnx is not supporting NHWC order for half its operators. For all the folks using Conv and TF/Keras it would be the strait thing to support NHWC as onnx attribute in storage_order in the first right in the first place

[2022-04-11 11:31] jackwish commented on #26
@ed-mr I am sorry but what's the contex are you refering to?

[2022-04-11 12:33] ed-mr commented on #26
just in sort summary. I just stumbled over this old already closed issue. Which I would like to have questions about. Since to my understanding, it would be much better to improve onnx and provide the "storage_order" attribute to conv and gain abstraction. That way, tf2onnx can easily use its default data_format = "columns_last".
see [details on the issue I raised ealier](https://github.com/ed-mr/

[2022-04-12 15:12] ed-mr commented on #26
Besides the fact, that I would be in favour or the `storage_order`, I figure from the discussion I raised in the ONNX community [#4099](https://github.com/onnx/onnx/discussions/4099), the onnx-people might pick up such issue as local functions as described in [#3877](https://github.com/onnx/onnx/issues/3877). Reason sounds ok, they claim that ONNX operator basis becomes to big, since there are man

[2022-04-21 12:30] jackwish commented on #26
@ed-mr Thanks, let me commont on the thread you initialized.

[2022-06-08 09:59] crazySyaoran commented on #72
same issue when converting this model: https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_landmark/face_landmark.tflite

I solved this probelm temporary by change this two files:
[code]
and
[code]

By the way, I have another problem when converting another model: https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite

[2022-06-15 10:05] jackwish commented on #72
@crazySyaoran Glad to hear that you resolved this issue!

I was assuming the two inputs of PReLU have the same rank, but they should be broadcastable. I think we can share the `Binary.fakeBroadcast()` with PReLU. Do you have time to try if the `fakeBroadcast` works for PReLU?

For custom ops, unfortunality, `tflite2onnx` cannot convert such ops as of now. But it's encouraged to introduce a design

[2022-08-11 11:17] JNingWei opened #75 "NotImplementedError: Unsupported TFLite OP: 32 CUSTOM!"
Hi author,
I encountered an unsupported when converting [face_landmark_with_attention.tflite](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite) to onnx:
[code]
Any suggestions? Thanks.

[2022-09-01 03:41] jackwish commented on #45
link the source https://www.tensorflow.org/lite/performance/quantization_spec#:~:text=Note%3A%20In%20the%20past%20our%20quantization%20tooling%20used%20per%2Dtensor%2C%20asymmetric%2C%20uint8%20quantization.%20New%20tooling%2C%20reference%20kernels%2C%20and%20optimized%20kernels%20for%208%2Dbit%20quantization%20will%20use%20this%20spec.

[2022-09-25 03:57] #75 closed

[2022-09-28 23:05] fabian57fabian commented on #75
Hello,
I also got this error by trying to convert an EfficientDetLite0 model.
It seems like not all ops can be converted...
Is it fixable?

[2022-10-12 04:06] fhahaha opened #76 "AssertionError: Per-tensor support only currently"
I convert the tflite model to int8 by tensorflow official doc, but it raises this error when i convert it to onnx.

[2022-10-12 07:43] divyajaincs opened #77 "Operator request: Softplus Operator not supported"
Refer this issue to get the details: [https://github.com/tensorflow/tensorflow/issues/58040](url)

[2022-11-27 02:54] #77 closed